html {
    font-size: 100%;
    box-sizing: border-box;
}

/* All elements including before and after elements */
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}